@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upload {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 2px solid $brainflix-secondary-mid;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    padding: 2rem 7rem;
  }

  &__header {
    width: 100%;
    font-size: 2.0625rem;
    font-weight: 600;
    padding: 1.5rem 0 2rem 0;
    @include tablet {
      border-bottom: 2px solid $brainflix-secondary-mid;
      padding: 0.5rem 0 2rem 0;
    }
  }

  &form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    &__label {
      color: $brainflix-primary-mid;
      display: block;
      width: 100%;
      margin-top: 1rem;
      font-size: 0.8125rem;
      margin-bottom: 0.25rem;
    }

    &__container {
      @include desktop {
        width: 40%;
        // margin: 0 2rem 2rem 0;
        height: 232px;
        max-width: 22rem;
        margin: 0 2rem 1rem 0;
      }
    }

    &__thumbnail {
      width: 100%;
      border-radius: 4px;
      @include tablet {
        width: 50%;
      }
      @include desktop {
        width: 21.9rem;
        max-height: 10.3rem;
      }
    }

    &__title,
    &__description {
      display: block;
      border: 1px solid $brainflix-secondary-mid;
      border-radius: 4px;
      width: 100%;
      background-color: $brainflix-secondary-light;
      font-family: "Avenir", Verdana, sans-serif;
      padding: 0.5rem;
      font-size: 0.8125rem;
      &::placeholder {
        color: black;
      }
      &:focus {
        outline: none;
        border: 1px solid $brainflix-primary-cta;
      }
    }

    &__title {
      height: 3rem;
    }

    &__description {
      height: 5rem;
      @include tablet {
        margin-bottom: 2rem;
      }
    }

    &__top {
      width: 100%;
      @include desktop {
        display: flex;
        align-items: flex-start;
      }
    }

    &__inputs {
      @include desktop {
        width: 100%;
      }
    }

    &__bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        flex-direction: row;
        justify-content: flex-end;
        border-top: 2px solid $brainflix-secondary-mid;
      }
    }

    &__button {
      font-size: 0.875rem;
      line-height: 2rem;
      font-weight: 550;
      width: 100%;
      color: $brainflix-primary-light;
      text-align: center;
      background-color: $brainflix-primary-cta;
      border: none;
      border-radius: 4px;
      padding: 0.5rem 0;
      &:hover {
        background-color: $brainflix-secondary-cta;
      }
      @include tablet {
        width: auto;
        align-self: flex-end;
        padding: 0.5rem 3rem;
      }

      &wrapper {
        margin: 1rem 0;
        width: 100%;
        position: relative;
        @include tablet {
          width: auto;
        }
      }

      &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        pointer-events: none;
      }
    }
    &__cancel {
      display: inline-block;
      width: auto;
      align-self: center;
      color: $brainflix-primary-cta;
      margin: 3rem 0;
      &:hover {
        color: $brainflix-secondary-cta;
      }
      &--mobile {
        display: inline-block;
        @include tablet {
          display: none;
        }
      }
      &--wide {
        display: none;
        @include tablet {
          display: inline-block;
          padding: 0 3rem;
          font-size: 0.875rem;
        }
      }
    }
  }
}
