@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.videolist {
  &__card {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100%;
  }

  &__image-container {
    height: 4rem;
    width: 6rem;
  }
  &__image {
    height: 100%;
    width: 100%;
    border-radius: 4px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    width: 60%;
  }
  &__title {
    font-weight: 700;
  }
}
