$brainflix-primary-dark: (#323232);
$brainflix-primary-cta: (#0095ff);
$brainflix-primary-mid: (#afafaf);
$brainflix-primary-light: (#ffffff);

$brainflix-secondary-dark: (#000000);
$brainflix-secondary-cta: (#0065ad);
$brainflix-secondary-mid: (#e1e1e1);
$brainflix-secondary-light: (#fafafa);

$tablet-breakpoint: (768px);
$desktop-breakpoint: (1280px);
