@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  @include tablet {
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 2rem;
  }
  @include desktop {
    padding: 1rem 7rem;
  }

  &__logo {
    display: inline-block;
    @include tablet {
      margin-right: auto;
    }
  }

  &__link {
    text-decoration: none;
    margin-top: 1rem;
    width: 100%;
    position: relative;
    max-height: 5.89rem;
    display: flex;
    align-items: center;
    @include tablet {
      width: auto;
      margin: 0 0 0 1rem;
    }
  }

  &__button {
    background-color: $brainflix-primary-cta;
    font-family: "Avenir", Verdana, sans-serif;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 1rem 0;
    color: $brainflix-primary-light;
    font-weight: 600;
    &:hover {
      background-color: $brainflix-secondary-cta;
    }
    @include tablet {
      width: auto;
      padding: 0.5rem 3.5rem;
      font-size: 1.25rem;
      height: 3rem;
      margin-right: 1rem;
      font-size: 0.875rem;
    }

    &-overlay {
      position: absolute;
      max-height: 5.89rem;
      width: 100%;
      padding-left: 0.5rem;
      pointer-events: none;
    }
  }

  &__bottom {
    @include tablet {
      width: auto;
    }
  }

  &__mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 0 0;
    width: 100%;
    position: relative;
    @include tablet {
      width: auto;
      margin: 0;
    }
  }

  &__overlay {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    pointer-events: none;
    height: 100%;
    padding-left: 0.5rem;
    pointer-events: none;
    @include tablet {
    }
  }

  &__search-bar {
    width: 100%;
    height: 2.25rem;
    padding-left: 2rem;
    background-color: $brainflix-secondary-light;
    border: 1px solid $brainflix-secondary-mid;
    border-radius: 4px;
    &::placeholder {
      color: black;
    }
    &:focus {
      outline: none;
      border: 1px solid $brainflix-primary-cta;
    }
    @include tablet {
      min-width: 13rem;
      height: 3rem;
      margin-right: 1rem;
    }
    &:focus {
      outline: none;
      border: 1px solid black;
    }

    &-wrapper {
      width: 100%;
      position: relative;
      @include tablet {
        width: 12rem;
        margin-right: 1rem;
      }
    }
  }

  &__profile {
    height: 2.25rem;
    min-width: 2.25rem;
    border-radius: 50%;
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 0 0 0.5rem;
    @include tablet {
      height: 3rem;
      min-width: 3rem;
    }

    &--wide {
      display: none;
      @include tablet {
        display: inline-block;
      }
    }

    &--mobile {
      @include tablet {
        display: none;
      }
    }
  }
}
