@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
  padding: 1rem;
  @include desktop {
    padding: 1rem 0 1rem 7rem;
  }

  &__number {
    font-size: 0.875rem;
  }
}
