@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Avenir", Verdana, sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  color: $brainflix-primary-light;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  font-weight: 550;
  margin: 0;
  @include tablet {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  @include tablet {
    font-size: 0.875;
    line-height: 1.25;
  }
}

.details {
  @include desktop {
    display: flex;
    &__left {
      border-right: 2px solid $brainflix-secondary-mid;
      width: 80%;
    }
  }
}
